<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="image-header l-inline-block">
                <h1>CONTACT</h1>
                <p class="image-sub-text">
                    <span>PING ME!</span>
                </p>
            </div>
        </div>
    </div>

    <div class="row contact-options">
        <div class="col-lg-4 text-center l-zi2">
            <h4>GET IN TOUCH</h4>

            <div class="address-line l-mt30">
                Feel free to contact me during working hours .


            </div>
        </div>
        <div class="col-lg-4 l-zi2">
            <h4>VARIOUS NETWORKS</h4>
            <div class="address-line l-mt30">
                <a href="https://github.com/abhikmitra">
                    <span class="l-inline-block icon-block"> <i class="fa fa-github"></i></span>
                    Github profile
                </a>


            </div>
            <div class="address-line l-mt30">
                <a href="https://www.facebook.com/abhik.mitra">
                    <span class="l-inline-block icon-block"> <i class="fa fa-facebook"></i></span>
                    Facebook profile
                </a>


            </div>
            <div class="address-line l-mt30">
                <a href="https://twitter.com/complanCoder">
                    <span class="l-inline-block icon-block"> <i class="fa fa-twitter"></i></span>
                    Twitter Profile
                </a>

            </div>
            <div class="address-line l-mt30">
                <a href="http://in.linkedin.com/in/iamabhik">
                    <span class="l-inline-block icon-block"> <i class="fa fa-linkedin"></i></span>
                    LinkedIn Profile
                </a>



            </div>
            <div class="address-line l-mt30">
                <a href="https://plus.google.com/u/1/+AbhikMitra/posts">
                    <span class="l-inline-block icon-block"> <i class="fa fa-google-plus"></i></span>
                    Google Plus
                </a>
            </div>

        </div>
        <div class="col-lg-4 l-zi2">
            <h4>MY ADDRESS</h4>
            <div class="address-line l-mt30">
                <span class="l-inline-block icon-block"> <i class="glyphicon glyphicon-home"></i></span>
                    Koramangala, Bangalore


            </div>
            <div class="address-line l-mt30">
                <span class="l-inline-block icon-block"> <i class="glyphicon glyphicon-earphone"></i></span>
                    +91 9945116525


            </div>
            <div class="address-line l-mt30">
                <span class="l-inline-block icon-block"> <i class="glyphicon glyphicon-envelope"></i></span>
                   <a href="mailto:abhik.mitra@live.com?Subject=Hello%20Abhik">abhik.mitra@live.com</a>


            </div>
        </div>
    </div>

</div>