<div class="row">
    <div class="col-lg-12">

        <div class="personal-details l-gap-section-above l-gap-section-below text-center">

            <div class="image-header l-inline-block personal-details-text">
                <p class="image-sub-text personal-details-text">
                    <span class="text">Scholastic profile</span>
                </p>

                <h1 class="personal-details-text">Education</h1>

            </div>
        </div>
    </div>

</div>
<div class="row company-experience">
    <div class="col-lg-3">

        <div class="job-detail">

            <div class="year">
                <span class="l-inline-block mr5">
                    <span class="start-month display-block">
                        <small>AUGUST</small>
                    </span>
                    <span class="start-year">2007</span>
                </span>
                <span class="year-dash">
                    -
                </span>
                <span class="l-inline-block">
                    <span class="end-month display-block">
                        <small>JUNE</small>
                    </span>
                    <span class="end-year">2011</span>
                </span>

            </div>
            <h3 class="job-title">
                <a href="seller.flipkart.com">Heritage Institute of Technology</a>
            </h3>
            <div class="sub-roles">
                <span>Information Technology Dept</span>
            </div>

        </div>
    </div>
    <div class="col-lg-9">
        <div class="job-description">
            <h3>JOB DESCRIPTION</h3>
            <div>
                <div class="job-desc-title">Bachelor of Technology</div>
                <div class="job-desc-details">
                    Studied computer science as a part of my engineering. I have built apps for Windows Mobile 6.0.
                    I also was a Microsoft Student Partner and gave lot of sessions on .NET . My final project and my internship was based on theories Computer Vision using OpenCV.
                </div>
            </div>
        </div>
    </div>
</div>
