<div id="nav-bar" class="nav-container">
    <nav class="container">
        <div class="row">
            <div class="col-lg-3">
                <a class="logo">Abhik Mitra</a>
            </div>
            <div class="col-lg-9">
                <ul class="sf-menu" id="superfish-menu">
                    <li class="nav-item personal-details">
                        <a class="nav-link" href="#personal-profile">Personal Details</a>
                    </li>
                    <li class="nav-item work-ex">
                        <a class="nav-link" href="#work_ex">Experience</a>
                    </li>
                    <li class="nav-item education">
                        <a class="nav-link" href="#education">Education</a>
                    </li>
                    <li class="nav-item skills">
                        <a class="nav-link" href="#knowledge">Skills</a>
                    </li>
                    <li class="nav-item portfolio">
                        <a class="nav-link " href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item contact">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>