<div class="row" id="personal-profile">
    <div class="col-lg-12">

        <div class="personal-details l-gap-section-above l-gap-section-below text-center">

            <div class="image-header l-inline-block personal-details-text">
                <p class="image-sub-text personal-details-text">
                    <span class="text">Who Am I ?</span>
                </p>
                <h1 class="personal-details-text">Personal Details</h1>

            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-3">
        <img class="l-full-width" src="images/me.jpg">

    </div>
    <div class="col-lg-4">

        <ul class="personal-details-list">
            <li class="detail-item">Name:Abhik Mitra</li>
            <li class="detail-item">Date of birth: 4th July 1989</li>
            <li class="detail-item">Nationality: Citizen of India</li>
            <li class="detail-item">Address: Bangalore </li>
            <li class="detail-item">Phone: +91 9945116525 </li>
            <li class="detail-item">
                Blog:
                <a href="https://iamabhik.wordpress.com">iamabhik.wordpress.com</a>
            </li>
        </ul>

    </div>
    <div class="col-lg-5">

        <h3 class="text-uppercase">Professional Profile</h3>

        <p>I am Bachelor in Technology with almost 3 years of valuable exposure of working as a JavaScript developer in a product based setup.I have worked extensively with Javascript Frameworks like AngularJS and posses knowledge of inner workings of the same.I also have experience in building full stack application using Node JS.I have also utilized HTML 5 and CSS 3 in building applications with complex interactions.</p>



    </div>

</div>