<div class="row">
    <div class="col-lg-12">

        <div class="personal-details l-gap-section-above l-gap-section-below text-center">

            <div class="image-header l-inline-block personal-details-text">
                <p class="image-sub-text personal-details-text">
                    <span class="text">MY WORK</span>
                </p>

                <h1 class="personal-details-text">PORTFOLIO</h1>

            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row work-items" >
            <div class="col-lg-4">
               <a href="https://github.com/abhikmitra/ng-joyride">
                   <div class="item-preview">
                       <img src="https://camo.githubusercontent.com/a2eb143de141c7951e5b6dcae1f60ad0c5a99434/687474703a2f2f6f6935392e74696e797069632e636f6d2f3275376f6d64642e6a7067" alt="..." class="img-thumbnail">
                   </div>
               </a>
               <div>
                   <br/>
                   <a href="https://github.com/abhikmitra/ng-joyride">
                       Ng Joyride
                   </a>
               </div>
            </div>
            <div class="col-lg-4">
                <a href="https://github.com/abhikmitra/angular-poller">
                    <div class="item-preview">
                        <img src="images/angularPoller.png" alt="..." class="img-thumbnail">
                    </div>
                </a>
                <div>
                    <br/>
                    <a href="https://github.com/abhikmitra/angular-poller">
                        Ng Poller
                    </a>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="item-preview">
                    <img src="images/serviceFactory.png" alt="..." class="img-thumbnail">
                </div>
                <div>
                    <br/>
                    <a href="https://github.com/abhikmitra/Service-vs-Factory">
                       Service & Factory
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

