<div class="row">
    <div class="col-lg-12">

        <div class="personal-details l-gap-section-above l-gap-section-below text-center">

            <div class="image-header l-inline-block personal-details-text">
                <p class="image-sub-text personal-details-text">
                    <span class="text alternate-bg">WHAT I'M BEST AT</span>
                </p>

                <h1 class="personal-details-text">SKILLS & KNOWLEDGE</h1>

            </div>
        </div>
    </div>

</div>
<div class="row skills">
    <div class="col-lg-7">
        <h2 class="skills-heading">Frontend Skills</h2>
        <div >
            <div class="skill-name">
                Jquery
            </div>
            <div class="skill-quant">
                <div class="progress sharp-borders">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">

                    </div>
                </div>
            </div>

        </div>
        <div >
            <div class="skill-name">
                Angular
            </div>
            <div class="skill-quant">
                <div class="progress sharp-borders">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">

                    </div>
                </div>
            </div>

        </div>
        <div >
            <div class="skill-name">
                CSS 3
            </div>
            <div class="skill-quant">
                <div class="progress sharp-borders">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"  aria-valuemin="0" aria-valuemax="100" style="width: 69%;">

                    </div>
                </div>
            </div>

        </div>
        <div >
            <div class="skill-name">
               HTML 5
            </div>
            <div class="skill-quant">
                <div class="progress sharp-borders">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 76%;">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-5">
        <h2 class="skills-heading">Certifications</h2>
        <div class="certifications">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="images/icon.png" alt="">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">Microsoft Certification</h5>
                    <span>
                        70-480, Programming in HTML5 with JavaScript and CSS3
                    </span>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="row skills">
    <div id="skills-donut" class="col-lg-7">
        <h2 class="skills-heading">Language Skills</h2>
        <div class="row">
            <div class="col-lg-4" >

                <div class="skill-quant">
                    <div id="jsStat" data-dimension="100" data-text="JS" data-width="10" data-fontsize="15" data-percent="87" data-fgcolor="#252525" data-bgcolor="#5F5F5F"></div>
                </div>

            </div>
            <div class="col-lg-4" >

                <div class="skill-quant">
                    <div id="jsStat1" data-dimension="100" data-text="Java" data-width="10" data-fontsize="15" data-percent="66" data-fgcolor="#252525" data-bgcolor="#5F5F5F"></div>
                </div>

            </div>
            <div class="col-lg-4" >

                <div class="skill-quant">
                    <div id="jsStat2" data-dimension="100" data-text="C++" data-width="10" data-fontsize="15" data-percent="54" data-fgcolor="#252525" data-bgcolor="#5F5F5F"></div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-lg-5">
        <h2 class="skills-heading">Knowledge</h2>
        <div class="knowledge-list">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="checked-list">
                        <li class="glyphicon glyphicon-ok">Object Oriented JS</li>
                        <li class="glyphicon glyphicon-ok">Grunt</li>
                        <li class="glyphicon glyphicon-ok">AngularJS</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="checked-list">
                        <li class="glyphicon glyphicon-ok">Ecmascript 6</li>
                        <li class="glyphicon glyphicon-ok">Node JS</li>
                        <li class="glyphicon glyphicon-ok">Bower</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>

