<div class="row">
    <div class="col-lg-12">

        <div class="personal-details l-gap-section-above l-gap-section-below text-center">

            <div class="image-header l-inline-block personal-details-text">
                <p class="image-sub-text personal-details-text">
                    <span class="text alternate-bg">My professional Background</span>
                </p>

                <h1 class="personal-details-text">Work Experience</h1>

            </div>
        </div>
    </div>

</div>
<div class="row company-experience">
    <div class="col-lg-3">

        <div class="job-detail">

            <div class="year">
                <span class="l-inline-block mr5">
                    <span class="start-month display-block">
                        <small>JANUARY</small>
                    </span>
                    <span class="start-year">2015</span>
                </span>
                <span class="year-dash">
                    -
                </span>
                <span class="l-inline-block">
                    <span class="end-month display-block">

                    </span>
                    <span class="end-year">Present</span>
                </span>

            </div>
            <h3 class="job-title">
                <a href="http://www.bing.com">Microsoft India</a>
            </h3>
            <div class="sub-roles">
                <span>Bing Display Ads Platform</span>
            </div>

        </div>
    </div>
    <div class="col-lg-9">
        <div class="job-description">
            <h3>JOB DESCRIPTION</h3>
            <div>
                <div class="job-desc-title">Senior Development Engineer ( SDE II )</div>
                <div class="job-desc-details">
                   Responsible for building the Display Ads Management Portal using ASP.NET on the server side
                    and Knockout JS on the client side. Designed a JS Application framework for the platform
                    which works well with legacy code while allowing gradual movement into the new pattern.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row company-experience">
    <div class="col-lg-3">

        <div class="job-detail">

            <div class="year">
                <span class="l-inline-block mr5">
                    <span class="start-month display-block">
                        <small>AUGUST</small>
                    </span>
                    <span class="start-year">2013</span>
                </span>
                <span class="year-dash">
                    -
                </span>
                <span class="l-inline-block">
                    <span class="end-month display-block">
                        January
                    </span>
                    <span class="end-year">2015</span>
                </span>

            </div>
            <h3 class="job-title">
                <a href="http://seller.flipkart.com">Flipkart.com</a>
            </h3>
            <div class="sub-roles">
                <span>Seller Platform</span>
            </div>

        </div>
    </div>
    <div class="col-lg-9">
        <div class="job-description">
                <h3>JOB DESCRIPTION</h3>
            <div>
                <div class="job-desc-title">Senior UI Engineer ( UI II )</div>
                <div class="job-desc-details">
                   Building the Flipkart Seller Portal.My primary responsibility is to build a scalable UI stack using Angular and Node. I work with extensively with Angular building the generic components for the UI, and optimizing the web app performance. I write services in Node JS that feed data to the UI.We use LESS for CSS, and our build process consists of grunt and bower.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row company-experience">
    <div class="col-lg-3">

        <div class="job-detail">
            <div class="year">
                <span class="l-inline-block mr5">
                    <span class="start-month display-block">
                        <small>SEPTEMBER</small>
                    </span>
                    <span class="start-year">2011</span>
                </span>
                <span class="year-dash">
                    -
                </span>
                <span class="l-inline-block">
                    <span class="end-month display-block">
                        JULY
                    </span>
                    <span class="end-year">2013</span>
                </span>

            </div>
            <h3 class="job-title">
                <a href="http://infosys.com">Infosys Limited</a>
            </h3>
            <div class="sub-roles">
                <span>Location Based Services,Infosys Labs</span>
            </div>

        </div>
    </div>
    <div class="col-lg-9">
        <div class="job-description">
            <h3>JOB DESCRIPTION</h3>
            <div>
                <div class="job-desc-title">Systems Engineer</div>
                <div class="job-desc-details">
                    I was responsible for developing the desktop and mobile web app using Jquery Mobile.Gained valuable experience in building a framework less single page app.One of my man deliverable was the indoor location tracking UI platform which involved working extensively with the canvas.
                </div>
            </div>
        </div>
    </div>
</div>